# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# custom build
build/
main/build/

# idea
.idea/
cmake-build-debug/
*/cmake-build-debug/

#Mac

**/.DS_Store
.vs/*

#configure file
src/config.h

#resources
resources/resources-config*

# pnpm store and node modules
node_modules/
.pnpm-store/
.pnpm/

# Rollup output / build artifacts
resources/bundle.js
resources/bundle.js.map
# ou si vous utilisez un dossier dédié comme dist/
dist/
build/

# fichiers de log et config locaux
npm-debug.log*
pnpm-debug.log*
*.env
.DS_Store


