.station-row {
	display: flex;
	align-items: center;
}

.station-icon-wrap {
	width: 10px;
	height: 100%;
	margin-right: 0.5em;
	display: inline-flex;
}

.station-icon-svg rect {
	fill: #555;
}

.station-icon-svg circle {
	fill: #fff;
}

.station-name {
	flex: 1;
	max-height: 40px;
}

.station-name.warning {
	color: red;
}