.schedule-item {
	border-top: 1px solid #ddd;
}

.schedule-item:first-child {
	border-top: none;
}

.schedule-header {
	padding: 0.5em;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	user-select: none;
}

.schedule-info-icon {
	margin-left: 0.5em;
}

.schedule-details {
	padding-left: 0.5em;
	padding-right: 0.5em;
	max-height:0px;
    overflow: hidden;
	transition: max-height 0.3s ease;
}

.schedule-details.open {
	max-height:1000px;
	transition: max-height 0.3s ease;
}