.base-panel.right {
	right: -250px;
	transition: right 0.3s ease;
}

.title {
	font-size: 1.75em;
	margin-bottom: 0.625em;
	line-height: 1.4;
}

.text {
	font-size: 0.9375em;
	margin-bottom: 1.125em;
	line-height: 1.7;
}

switch-event {
	display: block;
	margin-left: 2rem !important;
}

.open.right {
	right: 0;
}