

.sticky-header {
    position : sticky;
    top : 0;
    z-Index : 1000;
    background-color : #F5F5F5;
    padding : 10px 20px;
    display : flex;
    justify-content : space-between;
    align-items : center;
    border-bottom: 1px solid #d9d9d9;
}

/**
 * Logo
**/
img {
    color: black;
    height: 40px;
}
